---
masthead_title: "Splash Page"
layout: splash
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/plasmaball.jpg
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: Postdoctoral Research Associate in Environmental Catalysis<br/>Department of Chemical and Biomolecular Engineering<br/>University of Notre Dame
title: "Hanyu Ma"
intro:
- excerpt: 'I am a postdoc working with Prof. [**William Schneider**](https://wfschneidergroup.github.io/) at the University of Notre Dame.
       My postdoctoral research focuses on molecular simulation of heterogeneous catalysis,
       with particular emphasis on environmental remediation and non-thermal-plasma-enabled processes.
       My Ph.D. research involved synthesis of structure-controlled metallic nanocatalysts for
       reduction of aqueous contaminants and hydrogen release.'
feature_row:
  - image_path: /assets/images/NH3.png
    alt: "placeholder image 2"
    title: Simulation
    excerpt: Ammonia oxidation on Pt<br/>*ACS Catalysis*, 2019
    url: https://pubs.acs.org/doi/abs/10.1021/acscatal.8b04251
  - image_path: assets/images/NDMA.png
    alt: "placeholder image 1"
    title: Simulation & Experiment
    excerpt: NDMA reduction on Pd<br/>*Environmental Science & Technology*, 2019
    url: https://pubs.acs.org/doi/abs/10.1021/acs.est.9b01425
  - image_path: /assets/images/NH3BH3.png
    title: Experiment
    excerpt: Ammonia borane hydrolysis on Ru<br/>*ACS Catalysis*, 2015
    url: https://pubs.acs.org/doi/abs/10.1021/cs5019524
---
{% include feature_row id="intro" type="center" %}
{% include feature_row%}
