---
masthead_title: "Splash Page"
layout: splash
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/home4.jpg
  caption: "Photo credit: [**Yan Zhao**](https://sophiazhao.wixsite.com/zhao)"
excerpt: Research Assistant Professor<br/>Department of Electrical Engineering<br/>University of Notre Dame
title: "Zhuxin Dong"
intro:
- excerpt: 'I am a Visiting Research Assistant Professor working with Prof. [**Gregory Timp**](https://www3.nd.edu/~gtimp/) at the University of Notre Dame.
       My current research focuses on the fabrication of solid-state nanopore sensors towards biomolecule sequencing technology, the investigation of biophysics
       behind the technology through TEM multi-slice and finite element simulations, the development of next-generation sequencing platform with ultrahigh resolution
       at single molecule level, and the utilization atomic force microscopy in biomedical and virology applications.'
feature_row:
  - image_path: /assets/images/Home-Fig1-1.png
    alt: "placeholder image 2"
    title: Fabricate solid-state subnanopores
  - image_path: assets/images/Home-Fig2-2.png
    alt: "placeholder image 1"
    title: Characterize in experiment & simulations
    excerpt: E. Kennedy# and **Z. Dong**# et al.<br/>*Nature Nanotechnology*, 2016
    url: https://www.nature.com/articles/nnano.2016.120
  - image_path: /assets/images/Home-Fig3-3.png
    title: Read protein primary structure
---
{% include feature_row id="intro" type="center" %}
{% include feature_row%}
